/* css/app.css */

@import "../node_modules/normalize.css/normalize.css";

body, div, span, section, nav {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-content: flex-start;

  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

section {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
nav {
  flex-direction: row;
}
nav a {
  padding: 12px;
  font-size: 18px;
}

.section-twin {
  flex-direction: row;
}

.iphone-demo {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
}

.feature-description {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.feature-description h2,
.feature-description p {
  padding: 0 10%;
}














